
.rotatebox .images{
  width: 100%;
  height: 300px;
  position: relative;box-shadow: 1px 2px 11px #bac6c9;
}
.rotatebox .images img{
  width: 100%;
  height: 300px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
